<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
      
        <div class="page-wrapper">
            
            <div class="page-breadcrumb">
                
            </div>
  
            <div class="container-fluid">
               
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                         
                                <div>
                                    <canvas id="line-chart" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                    <!-- column -->
                    <div style="text-align:center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bar Chart</h4>
                                <div>
                                    <canvas id="bar-chart" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Pie Chart</h4>
                                <div>
                                    <canvas id="pie-chart" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
     
        </div>

    </div>
    
    
</body>