<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Affichage des interventions</b></h2>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>

                <th>
              

                </th>
                <th>Client</th>
                <th>Date</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>N/S</th>
                <!--<th>Affectation</th>-->
                <th>Panne</th>
                <th>Etat</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let intervention of interventions|
            paginate: { itemsPerPage: 10, currentPage: page ,totalItems:totalLength}; let i=index'>


                <td>
                  
                </td>
                <td>{{intervention.client?.raisonsocial }}</td>
                <td>{{intervention.dateajout }}</td>
                <td>{{intervention.typemateriel?.typemateriel }}</td>
                <td>{{intervention.marque?.marque }}</td>
                <td>{{intervention.modele }}</td>
                <td>{{intervention.numserie }}</td>
               <!-- <td>{{intervention.affect }}</td>-->
                <td>{{intervention.panne }}</td>
                <td>{{intervention.etat }}</td>


                <td>
                    <a href="#addInterventionsModal" class="edit" data-toggle="modal" tva="button"
                        (click)="moveDataToModifForm(i)"><i class="material-icons" data-toggle="tooltip"
                            title="Modifier">&#xE254;</i></a>

                    <a href="#deleteInterventionsModal" class="delete" data-toggle="modal" tva="button"
                        (click)="moveIDToDeleteForm(i)"><i class="material-icons" data-toggle="tooltip"
                            title="Supprimer">&#xE872;</i></a>
                </td>
            </tr>
        </tbody>
    </table>
   
    <div >
        <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls></div>
    
</div>

<!-- Add Modal HTML -->
<div id="addInterventionsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="addInterventionsForm">
                <div class="modal-header">
                    <h4 class="modal-title" *ngIf="action == 'new'">Ajouter intervention </h4>
                    <h4 class="modal-title" *ngIf="action == 'edit'">Modifier intervention </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Client <span class="color-error">*</span></label>
                        <select id="client" formControlName="client" class="form-control">
                            <option *ngFor="let option of client" [ngValue]="option">{{option?.raisonsocial}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Date <span class="color-error">*</span></label>
                        
                        <input id="dateajout" value="{{dateajout|date:'dd/MM/yyyy, hh:mm '}}"
                            formControlName="dateajout" class="form-control" >
                          
                    </div>
                    <div class="form-group">
                        <label>Type <span class="color-error">*</span></label>
                        <select id="typemateriel" formControlName="typemateriel" class="form-control">
                            <option *ngFor="let option of typemateriel" [ngValue]="option">{{option?.typemateriel}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Marque <span class="color-error">*</span></label>
                        <select id="marque" formControlName="marque" class="form-control">
                            <option *ngFor="let option of marque" [ngValue]="option">{{option?.marque}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>modele <span class="color-error">*</span></label>
                        <input type="text" id="modele" formControlName="modele" class="form-control"
                            [ngClass]="{'is-invalid': submitted && addInterventionsForm.controls.modele.errors, 'is-valid': submitted &&  !addInterventionsForm.controls.modele.errors}">
                    </div>
                     <div class="form-group">
                        <label>N°Serie <span class="color-error">*</span></label>
                        <input type="text" id="numserie" formControlName="numserie" class="form-control" 
                            [ngClass]="{'is-invalid': submitted && addInterventionsForm.controls.numserie.errors, 'is-valid': submitted &&  !addInterventionsForm.controls.numserie.errors}">
                    </div>
                   <!-- <div class="form-group">
                        <label>Affectation <span class="color-error">*</span></label>
                        <input type="text" id="affect" formControlName="affect" class="form-control" 
                            [ngClass]="{'is-invalid': submitted && addInterventionsForm.controls.affect.errors, 'is-valid': submitted &&  !addInterventionsForm.controls.affect.errors}">
                    </div>-->
                    <div class="form-group">
                        <label>Panne <span class="color-error">*</span></label>
                        <textarea type="text" id="panne" formControlName="panne" class="form-control"
                            [ngClass]="{'is-invalid': submitted && addInterventionsForm.controls.panne.errors, 'is-valid': submitted &&  !addInterventionsForm.controls.panne.errors}"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Etat <span class="color-error">*</span></label>
                        <select id="etat" formControlName="etat" class="form-control">
                            <option >Ajouté</option>
                            <option >Facturé</option>
                            <option >Livré</option>

                        </select>
                    </div>
                  


                </div>
                <div class="modal-footer">
                    <input id="close-add-modal" type="button" class="btn btn-danger" data-dismiss="modal"
                        value="Annuler">
                    <button *ngIf="action == 'new'" class="btn btn-info" (click)="addIntervention()"
                        [disabled]="addInterventionsForm.invalid">Ajouter</button>
                    <button *ngIf="action == 'edit'" class="btn btn-info" (click)="editIntervention()"
                        [disabled]="addInterventionsForm.invalid">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteInterventionsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Supprimer intervention</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûr de vouloir supprimer cette intervention?</p>
                    <p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
                </div>
                <div class="modal-footer">
                    <input id="close-delete-modal" type="button" class="btn btn-default" data-dismiss="modal"
                        value="Annuler">
                    <button class="btn btn-danger" (click)="deleteIntervention(idDelete)">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>