<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Gestion Des Types Matériels</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addTypematerielModal" class="btn btn-info" data-toggle="modal" (click)="openPopup()">
                            <i class="material-icons">&#xE147;</i> <span></span></a>
                        
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>
                           
                        </th>
                        <th>Type Materiel</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let t of typemateriel |
                     paginate: { itemsPerPage: 5, currentPage: page ,totalItems:totalLength}; let i=index'>

                        <td>
                           
                        </td>
                        <td>{{t.typemateriel }}</td>
                        <td>
                            <a href="#addTypematerielModal" class="edit" data-toggle="modal" role="button"
                                (click)="moveDataToModifForm(i)"><i class="material-icons" data-toggle="tooltip"
                                    title="Modifier">&#xE254;</i></a>

                            <a href="#deleteTypematerielModal" class="delete" data-toggle="modal" role="button"
                                (click)="moveIDToDeleteForm(i)"><i class="material-icons" data-toggle="tooltip"
                                    title="Supprimer">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>
<!-- Add Modal HTML -->
<div id="addTypematerielModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="addTypematerielForm">
                <div class="modal-header">
                    <h4 class="modal-title" *ngIf="action == 'new'">Ajouter Type Materiel </h4>
                    <h4 class="modal-title" *ngIf="action == 'edit'">Modifier Type Materiel </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">
                        <label>Type Materiel <span class="color-error">*</span></label>
                        <input type="text" id="typemateriel" formControlName="typemateriel" class="form-control"
                            [ngClass]="{'is-invalid': submitted && addTypematerielForm.controls.typemateriel.errors, 'is-valid': submitted &&  !addTypematerielForm.controls.typemateriel.errors}">
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <input id="close-add-modal" type="button" class="btn btn-danger" data-dismiss="modal"
                        value="Annuler">
                    <button *ngIf="action == 'new'" class="btn btn-info" (click)="addTypemateriel()"
                        [disabled]="addTypematerielForm.invalid">Ajouter</button>
                    <button *ngIf="action == 'edit'" class="btn btn-info" (click)="editTypemateriel()"
                        [disabled]="addTypematerielForm.invalid">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteTypematerielModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Supprimer Type Materiel</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûr de vouloir supprimer ce Type materiel?</p>
                    <p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
                </div>
                <div class="modal-footer">
                    <input id="close-delete-modal" type="button" class="btn btn-default" data-dismiss="modal"
                        value="Annuler">
                    <button class="btn btn-danger" (click)="deleteTypemateriel(idDelete)">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>