
<section id="container" *ngIf="isLogedIn === '1'">
  <app-navbar></app-navbar>

  <app-sidebar></app-sidebar>

  <app-footer></app-footer>
</section>

<section *ngIf="isLogedIn === '0'" >
  <div class="login-img3-body">
  
    <div class="container">
  
      <form class="login-form" action="index.html">
        <div class="login-wrap">
          <p class="login-img"><i class="icon_lock_alt"></i></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            <input type="text" id="login" class="form-control" [(ngModel)]="login" name="login" placeholder="Your Email" autofocus>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            <input type="password" id="password" name="login" [(ngModel)]="password" class="form-control" placeholder="Password">
          </div>
          <label class="checkbox">
                  <input type="checkbox" value="remember-me"> Remember me
                  <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
              </label>
          <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onLogin()" value="Log In">Login</button>
          <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </div>
      </form>
      <div class="text-right">
        <div class="credits">
            
          </div>
      </div>
    </div>
  
  
  </div>
</section>




