<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" routerLink="/dashboard">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="fa fa-cogs"></i>
                        <span>Configuration</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" routerLink="/utilisateur">Utilisateur</a></li>
            <li><a class="" routerLink="/client">Client</a></li>
            <li><a class="" routerLink="/typemateriel">Type Materiel</a></li>
            <li><a class="" routerLink="/marque">Marque</a></li>
            <li><a class="" routerLink="/materiels">Materiels</a></li>
           

          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="fa fa-file-text"></i>
                        <span>Intervention</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" routerLink="/ajout">Ajout</a></li>
            <li><a class="" routerLink="/intervention">Mouvement</a></li>  
            <li><a class="" routerLink="/affectationtechnicien">Affectation technicien</a></li>
            <li><a class="" routerLink="/diagnostic">Diagnostic</a></li>
            
            
          </ul>
        </li>
        <li>
         
        </li>
       

        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Finance</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" routerLink="/offre">Offre</a></li>
            <li><a class="" routerLink="/bondecommande">Bon de Commande</a></li>
          </ul>
        </li>
         <!--<li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="fa fa-file-text"></i>
                        <span>Statistique</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" routerLink="/statistique">Statistique et Tableau de Bord</a></li>
            
            
            
          </ul>
        </li>-->

       <!-- <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="fa fa-money"></i>
                        <span>Vente</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" href="profile.html">Profile</a></li>
            <li><a class="" href="login.html"><span>Login Page</span></a></li>
            <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
            <li><a class="" href="blank.html">Blank Page</a></li>
            <li><a class="" href="404.html">404 Error</a></li>
          </ul>
        </li>
        <li>
          <a class="" href="chart-chartjs.html">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Payement</span>

                    </a>

        </li>-->

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>