
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Affichage des Interventions</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>

                <th>

                    
                </th>
                <th>Client</th>
                <th>Date</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>N/S</th>
                <th>Panne</th>
                <th>Etat</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let interdiagnostic of intervention| paginate: { itemsPerPage: 5, currentPage: page ,totalItems:totalLength}; let i=index'>

                <td>
                    <span >
                        <input type="radio" name="inter" class="ch-rd" [checked]="checked" (change)="onNativeChange($event, interdiagnostic, this)">
                        <label for="muhRadio1"></label>
                    </span>
                </td>
                <td>{{interdiagnostic?.raisonsocial }}</td>
                <td>{{interdiagnostic?.dateajout }}</td>
                <td>{{interdiagnostic?.typemateriel}}</td>
                <td>{{interdiagnostic?.marque }}</td>
                <td>{{interdiagnostic?.modele}}</td>
                <td>{{interdiagnostic?.numserie}}</td>
                <td>{{interdiagnostic?.panne }}</td>
                <td>{{interdiagnostic?.etat}}</td>

                <td>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls></div>
    
</div>


<div class="container-xl" >  <!--*ngIf="array && array.length > 0"-->
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Suivi Etats / Workflow Maintenance</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>

                <th>
                  
                   <!-- <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll" (change)="checkAllMvmt($event)">
                        <label for="selectAll"></label>
                    </span> -->
                </th>
                <th>Réceptionné</th>
                <th>Diagnostiqué</th>
                <th>Soumission d'offre</th>
                <th>Refus</th>
                <th>En attente de Livraison</th>
                <th>Livrée</th>
                <th>Facturé</th>

            </tr>
        </thead>
        <tbody *ngIf="mouvement != null">
            <!--<tr *ngFor='let mouvement of intervention| paginate: { itemsPerPage: 6, currentPage: page ,totalItems:totalLength}; let i=index'>
            --><tr>
                <td>
                   <!--  <span class="custom-checkbox">
                        <input type="checkbox" [checked]="checkedMvmt"
                            (change)="onNativeChangeMvmt($event, mouvement)">
                        <label for="checkbox"></label>
                    </span>-->
                </td>
                <td>{{mouvement?.dateajout }}</td>
                <td>{{mouvement?.datediagnostic}}</td> 
                <td>{{mouvement?.dateOffre }}</td>
                <td>{{mouvement?.refus}}</td>
                <td>{{mouvement?.attpiece}}</td>
                <td>{{mouvement?.attlivraison}}</td>
                <td>{{mouvement?.livree}}</td> 
                <td>{{mouvement?.facture }}</td> 
              




               
            </tr>
        </tbody>
    </table>
   
    <div >
       <!-- <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls></div>-->
</div>

<div height="150"></div>
<br>
<br>
<br><br><br>
<div >
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
      
        <div class="page-wrapper">
            
            <div class="page-breadcrumb">
                
            </div>
  
            <div class="container-fluid">
               
                <div class="row">
                    <!-- column -->
                   
                    <!-- column -->
                    <!-- column -->
                    <div style="text-align:center ; margin-left: 20px;">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><b>Catégorie Matériel</b></h4>
                                <div>
                                    <canvas id="bar-chart" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><b>Etat d'Intervention</b></h4>
                                <div>
                                    <canvas id="pie-chart" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
     
        </div>

    </div>
    
    
</div>
